{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
	{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
		{% from "_formhelpers.html" import render_field %}
		<form method="POST" action="{{ url_for('add') }}" class="add-entry">
	 	   	{{ form.csrf_token }}
			{{ render_field(form.employee_id) }}
			{{ render_field(form.fname) }}
			{{ render_field(form.minit) }}
			{{ render_field(form.lname) }}
			{{ render_field(form.email) }}
			{{ render_field(form.salary) }}
			{{ render_field(form.dependents) }}
			{{ render_field(form.dependentsA) }}
			<input type="submit" value="Add Employee">
		</form>
		<a href={{ url_for('index') }}>Cancel</a>
	{% endif %}
{% endblock %}
