{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
		{% set employee = rv %}
		<h2>Are you sure you want to delete user: {{ employee.fname }} {{ employee.minit }}. {{ employee.lname }}?</h2>
		<a href="/delete_employee/{{ employee.id }}">Yes</a>
		<a href={{ url_for('index') }}>No</a>
	{% endif %}
{% endblock %}
