{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
		{% set employee = rv %}
		<form action="/edit_employee/{{ employee.id }}" method=post class=add-entry>
		  <dl>
			<dt>Employee ID: {{ employee.employee_id }}
			<dd><input type=text value="{{ employee.employee_id }}" size=30 name=employee_id>
			<dt>First Name: {{ employee.fname }}
			<dd><input type=text value="{{ employee.fname }}" size=30 name=fname>
			<dt>Middle Initial: {{ employee.minit }}
			<dd><input type=text value="{{ employee.minit }}" size=5 name=minit>
			<dt>Last Name: {{ employee.lname }}
			<dd><input type=text value="{{ employee.lname }}" size=30 name=lname>
			<dt>Email: {{ employee.email }}
			<dd><input type=email value="{{ employee.email }}" size=30 name=email>
			<dt>Salary: {{ employee.salary }}
			<dd><input type=text value="{{ employee.salary }}" size=30 name=salary>
			<dt>Number of Dependents: {{ employee.dependents }}
			<dd><input type=text value="{{ employee.dependents }}" size=5 name=dependents>
			<dt>Number of Dependents Whose Names Start with the Letter A: {{ employee.dependentsA }}
			<dd><input type=text value="{{ employee.dependentsA }}" size=5 name=dependentsA>
			<dd><input type=submit value="Save">
			<dt>Company ID: {{ employee.company_id }}
		  </dl>
		</form>
		<a href={{ url_for('index') }}>Cancel</a>
	{% endif %}
{% endblock %}
