{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
		<dl class=entries>
		{% set employee = rv %}
			<dt>
				<h2>
					{{ employee.lname }}, {{ employee.fname }} {{ employee.minit }}. -- 
					{% set cost = 1000 %}

					{% if employee.fname[0:1].upper() == 'A' %}
						{% set cost = cost * 0.9 %}
					{% endif %}
							
					{% set dep_not_A = employee.dependents - employee.dependentsA %}
					{% set cost = cost + (500 * dep_not_A) %}
					{% set cost = cost + ((500 * employee.dependentsA) * 0.9) %}

					Benefits Cost: $ {{ "{0:.2f}".format(cost) }}
				</h2>
				<a href="/edit/{{ employee.employee_id }}">Edit</a>
				<a href="/delete/{{ employee.employee_id }}">Delete</a>
			</dt>
					
			<dd>
				<ul>
					<li><strong>Employee ID:</strong> {{ employee.employee_id }}</li>
					<li><strong>Email:</strong> {{ employee.email }}</li>
					<li><strong>Total Dependents:</strong> {{ employee.dependents }}</li>
					<li><strong>Letter 'A' Dependents:</strong> {{ employee.dependentsA }}</li>
					<li><strong>Gross Salary:</strong> $ {{ "{0:.2f}".format(employee.salary) }}</li>
					<li><strong>Net Salary:</strong> $ {{ "{0:.2f}".format(employee.salary - cost) }}</li>
					<li><strong>Company ID:</strong> {{ employee.company_id }}</li>
				</ul>
			</dd>
		</dl>
	{% endif %}
{% endblock %}
