{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
	<h1>Employees</h1>
	<ul class=entries>
		{% if not employees %}
			<li><em>You haven't entered any employees yet</em></li>
		{% else %}
			{% for employee in employees %}
			<li>
				<h2>
					<!-- Eventually have the cost span be right-aligned via css and remove the two - characters-->
					<a href="employee/{{ employee.employee_id }}">
					{{ employee.lname }}, {{ employee.fname }} {{ employee.minit }}. -- 

					{% set cost = 1000 %}

					{% if employee.fname[0:1].upper() == 'A' %}
						{% set cost = cost * 0.9 %}
					{% endif %}
							
					{% set dep_not_A = employee.dependents - employee.dependentsA %}
					{% set cost = cost + (500 * dep_not_A) %}
					{% set cost = cost + ((500 * employee.dependentsA) * 0.9) %}

					Benefits Cost: $ {{ "{0:.2f}".format(cost) }}
					</a>
				</h2>
				<!-- make the button to the right of the header (inline?) using css -->
				<a href="/edit/{{ employee.employee_id }}">Edit</a>
				<a href="/delete/{{ employee.employee_id }}">Delete</a>
			</li>
			
			{% endfor %}
		{% endif %}
	</ul>

	{% else %}
<div>
	<p>
Welcome to the Paylocity Employee Manager! To get started, login and add or edit some employees or register with us today!
	</p>
</div>
	{% endif %}
{% endblock %}
