<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}

		<title>Paylocity Employee Manager</title>

	</head>

	<body>
		<div class=page>
			<h1>Paylocity Employee Manager</h1>
			<nav class=metanav>
	
			<ul>
				<li>
					<span><a href="/">Home</a></span>
				</li
	
		  		{% if session.logged_in %}
				<li>
					<span><a href="/users">Users</a></span>
				</li>

				<li>
					<span><a href="{{ url_for('add') }}">Add Employee</a></span>
				</li>
				{% endif %}
				<li>
					{% if not session.logged_in %}
					<span><a href="{{ url_for('login') }}">Login</a><span>
					{% else %}
					<span><a href="{{ url_for('logout') }}">Logout</a></span>
					{% endif %}
				</li>
				<li>
					{% if not session.logged_in %}
					<span><a href="{{ url_for('register') }}">Register</a></span>
					{% endif %}
				</li>
			</ul>
			</nav>
  
			{% for message in get_flashed_messages() %}
				<div class=flash>{{ message }}</div>
			{% endfor %}

			{% block body %}{% endblock %}
		</div>

	</body>
</html>
