{#
{% extends "layout.html" %}
{% block body %}
	<h1>Login</h1>
	{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
	<form action="{{ url_for('login') }}" method=post>
		<dl>
			<dt>Username:
			<dd><input type=text name=username>
			<dt>Password:
			<dd><input type=password name=password>
			<dd><input type=submit value=Login>
		</dl>
	</form>
{% endblock %}
#}



{% extends "layout.html" %}
{% block body %}
	<h1>Login</h1>
	{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
	{% from "_formhelpers.html" import render_field %}
	<form method="POST" action="{{ url_for('login') }}" class="add-entry">
 	   	{{ form.csrf_token }}
		{{ render_field(form.email) }}
		{{ render_field(form.password) }}
		<input type="submit" value="Login">
	</form>
{% endblock %}

