{% extends "layout.html" %}
{% block body %}
	<h1>Register</h1>
	{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
	{% from "_formhelpers.html" import render_field %}
	<form method="POST" action="{{ url_for('register') }}" class="add-entry">
 	   	{{ form.csrf_token }}
		{{ render_field(form.email) }}
		{{ render_field(form.confirm_email) }}
		{{ render_field(form.password) }}
		{{ render_field(form.confirm_password) }}
		{{ render_field(form.company_id) }}
		<input type="submit" value="Register">
	</form>
	<a href={{ url_for('index') }}>Cancel</a>
{% endblock %}

